<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <meta http-equiv="refresh" content="5"> --}}
    <title> Complete Booking </title>
</head>
<body style="margin:0; padding: 0; box-sizing: border-box; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
    <div style="width: 100%; margin-top: 50px;"> 
        <img src="logo.png" style="display:block; margin: auto; height: 100px;" >
    </div>
    <div style="display:flex;  flex-direction: column; justify-content: center; align-items: center;">
        <h1 style="margin: 20px auto;"> Complete your booking: </h1>
        <p style="margin:0 auto 10px auto; padding: 0; color: gray;"> You booking has been approved from the team: </p>
        <br>
        <div style="display: grid; grid-template-columns: 110px auto; text-align: left; margin-bottom: 5px; margin-left: 55px; width: 350px;">
            <h2 style="font-size:20px; font-weight:500; margin: 0; padding: 0;"> Full Name: </h2>
            <p  style="font-size:20px; margin: 0; padding: 0; color: gray;"> Diego Espinosa </p>
        </div>
        <div style="display: grid; grid-template-columns: 110px auto; text-align: left; margin-bottom: 5px; margin-left: 55px; width: 350px;">
            <h2 style="font-size:20px; font-weight:500; margin: 0; padding: 0;"> Phone: </h2>
            <p  style="font-size:20px; margin: 0; padding: 0; color: gray;"> 9999088639 </p>
        </div>
        <div style="display: grid; grid-template-columns: 110px auto; text-align: left; margin-bottom: 5px; margin-left: 55px; width: 350px;">
            <h2 style="font-size:20px; font-weight:500; margin: 0; padding: 0;"> Email: </h2>
            <p  style="font-size:20px; margin: 0; padding: 0; color: gray;"> espinosa9mx@gmail.com </p>
        </div>
        <div style="display: grid; grid-template-columns: 110px auto; text-align: left; margin-bottom: 5px; margin-left: 55px; width: 350px;">
            <h2 style="font-size:20px; font-weight:500; margin: 0; padding: 0;"> Activity: </h2>
            <p  style="font-size:20px; margin: 0; padding: 0; color: gray;"> Dive in Cozumel </p>
        </div>
        <div style="display: grid; grid-template-columns: 110px auto; text-align: left; margin-bottom: 5px; margin-left: 55px; width: 350px;">
            <h2 style="font-size:20px; font-weight:500; margin: 0; padding: 0;"> Date: </h2>
            <p  style="font-size:20px; margin: 0; padding: 0; color: gray;"> 2023-May-25 </p>
        </div>
        <div style="display: grid; grid-template-columns: 110px auto; text-align: left; margin-bottom: 5px; margin-left: 55px; width: 350px;">
            <h2 style="font-size:20px; font-weight:500; margin: 0; padding: 0;"> People: </h2>
            <p  style="font-size:20px; margin: 0; padding: 0; color: gray;"> 3 people </p>
        </div>
        <div style="display: grid; grid-template-columns: 110px auto; text-align: left; margin-bottom: 5px; margin-left: 55px; width: 350px;">
            <h2 style="font-size:20px; font-weight:500; margin: 0; padding: 0;">  Total: </h2>
            <p  style="font-size:20px; margin: 0; padding: 0; color: gray;"> $420 USD </p>
        </div>        
    </div>

    <h2 style="font-size:20px; font-weight:500; margin:50px auto 30px auto; text-align: center; padding: 0; width: 350px;"> How would you like to pay ? </h2>
    <div style="display: grid; grid-template-columns: 50% 50%; gap:10px; width: 350px; margin: auto;">
        <a href="google.com" style=" display:flex; flex-direction: column; justify-content: center; align-items: center; border: 1px solid lightgray; background-color: transparent; height: 100px; border-radius: 10px; font-size: 15px; text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16" color="green">
                <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
              </svg>
            <p style="margin: 0; padding: 0; color: gray;"> Cash </p> 
        </a>
        <a href="http://google.com" style=" display:flex; flex-direction: column; justify-content: center; align-items: center; border: 1px solid lightgray; background-color: transparent; height: 100px; border-radius: 10px; font-size: 15px; text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-credit-card-2-back" viewBox="0 0 16 16" color="lightblue">
                <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1z"/>
                <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm13 2v5H1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm-1 9H2a1 1 0 0 1-1-1v-1h14v1a1 1 0 0 1-1 1z"/>
              </svg>
            <p style="margin: 0; padding: 0; color: gray;"> Credit Card </p> 
        </a>
    </div>
</body>
</html>

